---
redirect_to: https://frame-lang.org/articles/frame-and-formal-verification/
---

This article has moved to [https://frame-lang.org/articles/frame-and-formal-verification/](https://frame-lang.org/articles/frame-and-formal-verification/).
